@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper{
  width: 100%;
}
.react-datepicker__view-calendar-icon input {
  padding: 0.625rem !important;
  padding-left: 2rem!important;
}
.react-datepicker__calendar-icon{
  margin-top: 4px;
}
.datatables_wrapper .rdt_tablecell{
  font-size:25px;
}